@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

.register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #015ec5;
    height: 4.8rem;
}

.register__link {
    color: white;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

a {
    display: block;
}

.carousel {
    min-width: 123.4rem;
    max-width: 254rem;
    position: relative;
}

.carousel__text__right {
    margin: -32.9rem 1050px;
    z-index: 9999;
    width: 500px;
    color: white;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;

}

.learnmore {
    transition-duration: 2s;
    font-size: 2rem;
}

.learnmore:hover {
    color: white;
    transition-duration: 1s;
}

.carousel h1 {
    font-size: 30px;
    font-weight: 700;
}

.carousel__text__left {
    margin: -31.9rem 34.3rem;
    z-index: 9999;
    width: 500px;
    color: white;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
}

.carousel__text__left__black {
    margin: -31.9rem 34.3rem;
    z-index: 9999;
    width: 500px;
    color: rgb(0, 0, 0);
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
}

.bodyimage {
    max-width: 255.9rem;
    width: 100%;
    margin: 1rem 0;


}

.bodyimage img {
    width: 100%;

}

.cards {
    margin-top: 60rem;
    font-family: 'Heebo', sans-serif;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
}

.card {
    border: 1px solid #e0e0e0;
    text-align: center;
    width: 48%;
    font-size: 2.2rem;


}

.card p {
    padding: 1.5rem 0;
}

.learnMore:hover {
    color: black;
    transition-duration: 0.5s;
}

.card__text {
    color: #4f4f9f;
    font-size: 34px;
    padding-top: 0.2rem;
}

.news {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.news__image {
    object-fit: cover;
    width: 49%;
}

.hover {
    display: flex;
    justify-content: space-around;
margin-top: 1rem;
}

.hoverimage {
    width: 49%;
    height: 60rem;
    border: 1px solid #000000;
    overflow: hidden;
    position: relative;
}

.hoverimage1 {
    width: 100%;
    height: 100%;
    background: url("../../images/hoverimages1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.hoverimage1:hover {
    transform: scale(1.2);
}

.hoverimage2,
.hoverimage4,
.hoverimage5,
.hoverimage6 {
    width: 49%;
    height: 29rem;
    border: 1px solid #000000;
    overflow: hidden;
    position: relative;
}

.hoverimage21 , .hoverimage41 , .hoverimage51 , .hoverimage61 {
    width: 100%;
    height: 100%;
    background: url("../../images/hoverimages2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.hoverimage21:hover,
.hoverimage51:hover,
.hoverimage41:hover,
.hoverimage61:hover {
    transform: scale(1.2);
}

.hoverright {
    width: 49%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
.hoverimage41{
    background-image: url('../../images/hoverimages5.jpg');
}
.hoverimage51{
    background-image: url('../../images/hoverimages3.jpg');
}
.hoverimage61{
    background-image: url('../../images/hoverimages4.jpg');
}
.hovertext{
    position: absolute;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    padding: 1rem 3rem;
}
.hovertext h1{
    font-size: 2rem;
    font-family: 'Heebo', sans-serif;
    color: white;
}
.hovertext p{
    font-size: 1.6rem;
    font-family: 'Heebo', sans-serif;
    color: white;
}
.hovertext1{
    position: absolute;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    padding: .5rem 1.5rem;
}
.hovertext1 h1{
    font-size: 1.8rem;
    font-family: 'Heebo', sans-serif;
    color: white;
}
.hovertext1 p{
    font-size: 1.3rem;
    font-family: 'Heebo', sans-serif;
    color: white;
}